<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserClassMapper">

    <resultMap type="SysUserClass" id="SysUserClassResult">
        <result property="userId"     column="user_id"      />
        <result property="classId"    column="class_id"     />
    </resultMap>

    <select id="selectClassIdsByUserId" parameterType="Long" resultType="Long">
        select class_id from sys_user_class where user_id = #{userId}
    </select>

    <delete id="deleteUserClassByUserId" parameterType="Long">
        delete from sys_user_class where user_id = #{userId}
    </delete>

    <insert id="batchUserClass">
        insert into sys_user_class(user_id, class_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.classId})
        </foreach>
    </insert>

</mapper>