<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.talk.mapper.TalkSessionMapper">
    
    <resultMap type="TalkSession" id="TalkSessionResult">
        <result property="sessionId"    column="session_id"    />
        <result property="talkType"    column="talk_type"    />
        <result property="talkTime"    column="talk_time"    />
        <result property="talkLocation"    column="talk_location"    />
        <result property="talkPerson"    column="talk_person"    />
        <result property="talkContent"    column="talk_content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTalkSessionVo">
        select ts.session_id, ts.talk_type, ts.talk_time, ts.talk_location, ts.talk_person, ts.talk_content, ts.create_by, ts.create_time, ts.update_by, ts.update_time from talk_session ts
    </sql>

    <select id="selectTalkSessionList" parameterType="TalkSession" resultMap="TalkSessionResult">
        <include refid="selectTalkSessionVo"/>
        <where>  
            <if test="talkType != null  and talkType != ''"> and ts.talk_type = #{talkType}</if>
            <if test="talkTime != null "> and ts.talk_time = #{talkTime}</if>
            <if test="talkLocation != null  and talkLocation != ''"> and ts.talk_location = #{talkLocation}</if>
            <if test="talkPerson != null  and talkPerson != ''"> and ts.talk_person = #{talkPerson}</if>
            <if test="talkContent != null  and talkContent != ''"> and ts.talk_content = #{talkContent}</if>
            ${params.dataScope}
        </where>
    </select>
    
    <select id="selectTalkSessionBySessionId" parameterType="Long" resultMap="TalkSessionResult">
        <include refid="selectTalkSessionVo"/>
        where ts.session_id = #{sessionId}
    </select>

    <insert id="insertTalkSession" parameterType="TalkSession" useGeneratedKeys="true" keyProperty="sessionId">
        insert into talk_session
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="talkType != null and talkType != ''">talk_type,</if>
            <if test="talkTime != null">talk_time,</if>
            <if test="talkLocation != null">talk_location,</if>
            <if test="talkPerson != null and talkPerson != ''">talk_person,</if>
            <if test="talkContent != null">talk_content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="talkType != null and talkType != ''">#{talkType},</if>
            <if test="talkTime != null">#{talkTime},</if>
            <if test="talkLocation != null">#{talkLocation},</if>
            <if test="talkPerson != null and talkPerson != ''">#{talkPerson},</if>
            <if test="talkContent != null">#{talkContent},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTalkSession" parameterType="TalkSession">
        update talk_session
        <trim prefix="SET" suffixOverrides=",">
            <if test="talkType != null and talkType != ''">talk_type = #{talkType},</if>
            <if test="talkTime != null">talk_time = #{talkTime},</if>
            <if test="talkLocation != null">talk_location = #{talkLocation},</if>
            <if test="talkPerson != null and talkPerson != ''">talk_person = #{talkPerson},</if>
            <if test="talkContent != null">talk_content = #{talkContent},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where session_id = #{sessionId}
    </update>

    <delete id="deleteTalkSessionBySessionId" parameterType="Long">
        delete from talk_session where session_id = #{sessionId}
    </delete>

    <delete id="deleteTalkSessionBySessionIds" parameterType="String">
        delete from talk_session where session_id in 
        <foreach item="sessionId" collection="array" open="(" separator="," close=")">
            #{sessionId}
        </foreach>
    </delete>

    <select id="countTalkSessions" resultType="int">
        select count(*) from talk_session
    </select>

    <select id="countTalkSessionsByMonth" resultType="java.util.HashMap">
        select DATE_FORMAT(talk_time, '%Y-%m') as month, count(*) as cnt
        from talk_session group by DATE_FORMAT(talk_time, '%Y-%m')
        order by month asc limit 12
    </select>

    <select id="countTalkSessionsByType" resultType="java.util.HashMap">
        select talk_type as type, count(*) as cnt
        from talk_session group by talk_type
    </select>

    <select id="selectTalkSessionBySessionIds" resultMap="TalkSessionResult">
        <include refid="selectTalkSessionVo"/>
        where ts.session_id in
        <foreach item="sessionId" collection="array" open="(" separator="," close=")">
            #{sessionId}
        </foreach>
    </select>

    <select id="countTalkSessionsFiltered" parameterType="map" resultType="int">
        select count(*) from talk_session ts
        <where>
            <if test="dataScope != null and dataScope != ''">${dataScope}</if>
        </where>
    </select>

    <select id="countTalkSessionsByMonthFiltered" parameterType="map" resultType="java.util.HashMap">
        select DATE_FORMAT(ts.talk_time, '%Y-%m') as month, count(*) as cnt
        from talk_session ts
        <where>
            <if test="dataScope != null and dataScope != ''">${dataScope}</if>
        </where>
        group by DATE_FORMAT(ts.talk_time, '%Y-%m')
        order by month asc limit 12
    </select>

    <select id="countTalkSessionsByTypeFiltered" parameterType="map" resultType="java.util.HashMap">
        select ts.talk_type as type, count(*) as cnt
        from talk_session ts
        <where>
            <if test="dataScope != null and dataScope != ''">${dataScope}</if>
        </where>
        group by ts.talk_type
    </select>
</mapper>